.imageUpload {
	overflow: hidden;

	.loadingSpinnerContainer {
		display: inline-block;
		visibility: hidden;

		div.loadingSpinner {
			background-image: svg-load('../../assets/loading-spinner-gear.svg');
			background-size: cover;
			height: 24px;
			width: 24px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
