.imageUpload {
	overflow: hidden;

	.loadingSpinnerContainer {
		display: none;

		img.loadingSpinner {
			background-size: cover;
			height: 24px;
			width: 24px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
